// 전역적 변수 사용

// color
$bg-main: #d3dce6;

$bg-sub: #333;
$bg-sub-light: #334455;

$bg-red: #ff0000;
$bg-orange: #ffa500;
$bg-green: #008000;
$bg-green-light: #00a000;
$bg-blue: #0000ff;
$bg-navy: #000080;
$bg-pink: #ea4c89;
$bg-black: #000000;
$bg-black-light: #555555;


// font-size
$font-size: 16px;

// button size 
$btn-sizes: (
  xsm: 15
  sm: 25,
  md: 30,
  lg: 29,
  xl: 47,
  xxl: 50
)
// font-family
// $font-family: "Nanum Gothic";

