@import './variables.scss';
@import './common.scss';

@mixin colorBtn($color) {
  background: $yellow;
  height: 50%;
  width: 100%;
  min-height: 25px;
  border-radius: 9px;
  color: $color;
  font-weight: 800;
  justify-content: center;
  vertical-align: middle;
  padding: 0px;
  &:hover {
    color: $color;

    &:before,
    &:after {
      background: $yellow;
    }
  }
}

.blue-btn {
  @include colorBtn($blue)
}

.light-blue-btn {
  @include colorBtn($light-blue)
}

.red-btn {
  @include colorBtn($red)
}

.pink-btn {
  @include colorBtn($pink)
}

.green-btn {
  @include colorBtn($green)
}

.tiffany-btn {
  @include colorBtn($tiffany)
}

.yellow-btn {
  @include colorBtn($yellow)
}
.menu-btn {
  @include colorBtn($menuBg)
}

.pan-btn {
  font-size: 14px;
  color: #fff;
  padding: 14px 36px;
  border-radius: 8px;
  border: none;
  outline: none;
  transition: 600ms ease all;
  position: relative;
  display: inline-block;

  &:hover {
    background: #fff;

    &:before,
    &:after {
      width: 100%;
      transition: 600ms ease all;
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    transition: 400ms ease all;
  }

  &::after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
}

.custom-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  color: #fff;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
}

.btn--orange {
  width: 0;
  height: 0;
  outline: none;
  color: #fff;
  font-weight: bold;
  border-radius: .5rem;
  border: 0;
  background: linear-gradient(#fac146, orange);
  box-shadow: 2px 2px 5px rgb(0,0,0, 0.1);
  z-index: 2;
  transition: .5s;
  &.btn--sm {
    width: 70px;
    height: 40px;
  }
  &.btn--md {
    width: 100px;
    height: 35px;
  }
  &.btn--lg {
    width: 50%;
    height: 35px;
  }
  &.btn--xl {
    width: 100%;
    height: 45px;
  }
}

.btn--gray {
  width: 0;
  height: 0;
  margin-right: 3px;
  border: 0;
  border-radius: .5rem;
  background: linear-gradient($gray-500, $gray-600);
  box-shadow: 2px 2px 5px rgb(0,0,0, 0.1);
  color: #fff;
  outline: 0;
  font-weight: 600;
  font-size: 16px;
  
  &.btn--sm {
    width: 70px;
    height: 40px;
  }
  &.btn--md {
    width: 100px;
    height: 35px;
  }
  &.btn--lg {
    width: 50%;
    height: 35px;
  }
  &.btn--xl {
    width: 100%;
    height: 45px;
  }
}

.btn--orange:hover {
  border: 2px solid orange;
  border-radius: .5rem;
  background: 0;
  background-color: #fff;
  box-shadow: 2px 2px 4px #0000001a;
  font-weight: bold;
  color: orange;
}

// other color
.btn--purple {
  border: none;
  background-color: #aa0ae9;
  box-shadow: 2px 2px 5px #0000001a;
  color: #fff;
}

// button round
.btn--round {
  border-radius: 15px;
  background: linear-gradient($gray-500, $gray-600);
  box-shadow: 2px 2px 4px #00000017;
  outline: 0;
  border: 0;
  padding: 10px;
  margin: 10px 2px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  &.btn--sm {
    width: 70px;
    height: 40px;
  }
  &.btn--md {
    width: 100px;
    height: 35px;
  }
  &.btn--lg {
    width: 50%;
    height: 35px;
  }
  &.btn--xl {
    width: 100%;
    height: 45px;
  }
}

// button square
.btn--square {
  border-radius: .2rem;
  background-color: $gray-600;
  box-shadow: 2px 2px 4px #00000017;
  outline: 0;
  border: 0;
  padding: 10px;
  margin: 10px 5px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  &.btn--sm {
    width: 70px;
    height: 40px;
  }
  &.btn--md {
    width: 100px;
    height: 35px;
  }
  &.btn--lg {
    width: 50%;
    height: 35px;
  }
  &.btn--xl {
    width: 100%;
    height: 45px;
  }
}

// button outline 
.btn--outline {
  width: 0;
  height: 0;
  border: 2px solid orange;
  border-radius: .5rem;
  background-color: #fff;
  box-shadow: 2px 2px 4px #0000001a;
  padding: .3rem;
  font-size: 14px;
  font-weight: bold;
  color: orange;
  &.btn--sm {
    width: 70px;
    height: 40px;
  }
  &.btn--md {
    width: 100px;
    height: 35px;
  }
  &.btn--lg {
    width: 50%;
    height: 35px;
  }
  &.btn--xl {
    width: 100%;
    height: 45px;
  }
}
