
// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$mainBg: #d3dce6;

// orange color 
$orange-100: #FFE0B2;
$orange-200: #ffcc80;
$orange-300: #ffB74D;
$orange-400: #FFA726;
$orange-500: #FF9800;
$orange-600: #FB8C00;
$orange-700: #F57C00;
$orange-800: #EF6C00;
$orange-900: #EF6C00;

// gray color
$gray-100: #FAFAFA;
$gray-200: #F5F5F5;
$gray-300: #EEEEEE;
$gray-400: #E0E0E0;
$gray-500: #BDBDBD;
$gray-600: #9E9E9E;
$gray-700: #757575;
$gray-800: #616161;
$gray-900: #424242;
$gray-text: #333;
$gray-color-100: #212121;

// blue color
$blue-100: #BBDEFB;
$blue-200: #90CAF8;
$blue-300: #65B6F6;
$blue-400: #42A5F5;
$blue-500: #2196F3;
$blue-600: #1E88E5;
$blue-700: #1976D2;
$blue-800: #1565C0;
$blue-900: #0D47A1;

// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;

$menuListBg: rgba(0, 0, 0, 0.03);
$menuListCnt:#e5d8c3;
$menuListInf1:#edd4ab;
$menuListInf2:#ebc68b;
// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
