<form name="signupForm" action="#" class="validation">
    <label for="email">이메일</label>
    <input name="email" type="text" /><br />

    <label for="name">이름</label>
    <input name="name" type="text" /><br />

    <label for="password">비밀번호</label>
    <input name="password" type="password" /><br />

    <input type="button" value="회원가입" onclick="ValidateEmail(document.signupForm.email)" />

</form>

<script type="text/javascript">

//  이메일 유효성 검사(JavaScript 수준)

    function ValidateEmail(emailInput) {
        const mailFormat = /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\.){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/;
        if (emailInput.value.match(mailFormat)) {
            alert("유효한 이메일 주소입니다!");
            document.signupForm.email.focus();
            return true;
        } else {
            alert("잘못된 이메일 주소 형식입니다!");
            document.signupForm.email.select();
            return false;
        }
    }
</script>