#app .product #product-name, #product-cost {
    margin-top: 10px;
    text-align: center;
    background-color: rgba(160, 73, 73, 0.61);
}

#app {
    width: 700px;
    background-color: rgb(101, 187, 84);
}